body {
    background-color: rgb(188, 117, 37);
    background-image: url("corona.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100px;
    background-size: 500px;
}

h2 {
    text-align: center;
}

p {
    color: white;
}
